<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>

<body>

    <h1>Lista de productos</h1>

    <a href="/products/new">Añadir producto</a>

    <br><br>

    <table border="1">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Detalles</th>
        </tr>

        <tr th:each="product : ${products}">

            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.description}"></td>

            <td>
                <a th:href="@{/products/details/{id}(id=${product.id})}">
                    Ver
                </a>
            </td>

        </tr>

    </table>

</body>

</html>

